// pc 端适配方案
/*当页面宽度大于1080px且小于1366px的时候执行,1280-1366*/
@media screen and (min-width: 1080px) and (max-width: 1366px) {
  html {
    font-size: 16px !important;
  }
}
/*当页面宽度大于1440px且小于1600px的时候执行,1440-1600*/
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  html {
    font-size: 28px !important;
  }
}
/*当页面宽度大于1680px且小于1920px的时候执行,1680-1920*/
@media screen and (min-width: 1680px) and (max-width: 1920px) {
  html {
    font-size: 20px !important;
  }
}

body {
  min-width: 1080px !important;
  max-width: 1920px !important;
}
